<html ng-app="peasy" ng-controller="peasyCtrl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Placements Easy</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/cleditor/jquery.cleditor.css">
    <link rel="stylesheet" href="/static/css/peasy.css">
</head>

<body ng-cloak>
    <div class="navabar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Placement Easy</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#!/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="#!/company">Company Wise</a>
                    </li>
                    <li>
                        <a href="#!/topicwise">Topic Wise</a>
                    </li>
                    <li>
                        <a href="#!/authortest">Author Test</a>
                    </li>
                    <li>
                        <a href="#!/addInterviewExperience">Add IE</a>
                    </li>
                    <li>
                        <a href="#!/viewInterviewExperience">View IE</a>
                    </li>
                    <li>
                        <a href="#!/takeQuiz">Take Quiz</a>
                    </li>
                    <li>
                        <a href="#!/quizSummary">Quiz Summary</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#!/login">Login</a>
                    </li>
                    <li>
                        <a href="#!/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="ng-view">

        </div>
    </section>
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/vendor/cleditor/jquery.cleditor.js"></script>
    <script type="text/javascript" src="/static/js/peasy.js"></script>
</body>

</html>