html
    head
        // PUG IS SIMPLER THAN HTML
        // EXPRESS GENERATES HTML CODE FROM PUG FILE
        // EXISTING HTML CAN BE CONVERTED TO PUG EASILY
        // PUG HAD NAME JADE EARLIER -- NOW CALLED PUG
        // WE'LL MOVE ALL OUR FILES (HTML) TO PUG SYNTAX
        // RATHER THAN USING res.sendFile we'll use res.render('pugfilename')
        // THAT'S IT.
    body
        h1 Hello PUG