<div class="container">
    <form class="form-horizontal">
        <h1>Interview Experience</h1>
        <br>

        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Company name</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Name" ng-model="iTitle">
            </div>

        </div>
        <br>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Date visited</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="dd/mm/yyyy" ng-model="iDate">
            </div>

        </div>
        <br>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">College name</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="college" ng-model="icollege">
            </div>

        </div>
        <br>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Description</label>
            </div>
            <div class="col-md-10">

                <textarea class="form-control" id="input" placeholder="Description" ng-model="qDescription"></textarea>

            </div>

        </div>
        <br>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Add</label>
            </div>
            <div class="col-md-10">

                <a href=Addquestion.html>Add question</a>

            </div>

        </div>
        <br>


        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Explanation:</label>
            </div>
            <div class="col-md-10">

                <textarea class="form-control" id="input" placeholder="Explanation" ng-model="qExplanation"></textarea>
            </div>

        </div>

        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button class="btn btn-default" ng-click="addInterviewExpFn()">Submit</button>
                <!--button type="submit" ng-click="addInterviewExpFn()" class="btn btn-default">Submit</button-->
            </div>

        </div>

    </form>
</div>