<div class="container">
<BR></BR>
    <div class="alert alert-success">
      <button href="partials/takeQuiz.html" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-success"></i></button>
      <h4>TCS</h4>
      <p>Take a test.<a class="alert-link" href="#!/takeQuiz">Click Here To Start</a></p>
    </div>
<BR></BR> 
    <div class="alert alert-info">
      <button href="partials/takeQuiz.html" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-info"></i></button>
      <h4>INFOSYS</h4>
      <p>Take a test. <a class="alert-link" href="#!/takeQuiz">Click Here To Start</a></p>
    </div>
<BR></BR> 
    <div class="alert alert-warning">
      <button href="partials/takeQuiz.html" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-warning"></i></button>
      <h4>WIPRO</h4>
      <p>Take a test. <a class="alert-link" href="#!/takeQuiz">Click Here To Start</a></p>
    </div>
<BR></BR> 
    <div class="alert alert-danger">
      <button href="partials/takeQuiz.html" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-danger"></i></button>
      <h4>AMAZON</h4>
      <p>Take a test. <a class="alert-link" href="#!/takeQuiz">Click Here To Start</a></p>
    </div>
<BR></BR>
</div>
