
<form class="form-horizontal">
<div class="header" align="center">
    <h1>Author a Test</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label> Test Title:</label></div>
         <div class="col-md-10"><input type="text" class="form-control" ng-model="a.Test_Title" placeholder="enter test name">
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2"><label>Company:</label></div>
        <div class="col-md-10">

             <select class="form-control" ng-model="a.company" >
  <option value="INFOSYS" >INFOSYS</option>
  <option value="AMAZON" >AMAZON</option>
  <option value="TCS" >TCS</option>
  <option value="GOOGLE" >GOOGLE</option>
            <option value="MICROSOFT" >MICROSOFT</option>
            <option value="ACCENTURE" >ACCENTURE</option>
            <option value="HCL" >HCL</option>
</select>
        </div>
    </div>
    </div>
    <br>
    <br>
   <!-- <div class="container">
        <div class="row">
            <div class="col-md-2"><label>Questions</label></div>
             <div class="col-md-10"><input type="text" ng-model="a.questions" class="form-control" placeholder="enter no.of questions">
            </div>
        </div>
    </div>
    <br><br>-->
    
        
          <div class="container">
        
      <div class="row">
            <div class="col-md-2">
                <label >Date </label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" ng-model="a.DateExam">
            </div>

              </div> </div>  
        
          <br><br>
    <div class="container">
        
      <div class="row">
            <div class="col-md-2">
                <label >Start Time </label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="HH:MM" ng-model="a.start_time">
            </div>

              </div> </div>  
    
        <br><br>
                  <div class="container">
        
      <div class="row">
            <div class="col-md-2">
                <label >End Time </label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="HH:MM" ng-model="a.end_time">
            </div>

              </div> </div> 
    <br>

    <div class="container">
        <div class="row">
            <h5> INSTRUCTIONS</h5>
        </div>
        <div class="row">
            <ul>
                <li>
                    It is a time bounded exam.</li>
                <li>
                    Each question has 4 options.</li>
                <li>
                    Candidate can chnage answer till the end of time.</li>
            </ul>
        </div>
    </div>

    <br>
    <br>
      
     


 <div 
        
        ng-init="list=[ ]" 
            
        ng-controller="authorTestCtrl">

        
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label>Add QuestionId</label>
        </div>
        <div class="col-md-9">
       
            <input type="text" ng-model="a.name" class="form-control" placeholder="Enter id" /> 
        </div>
    </div>
    <br>
   <!-- <div class="row">
        <div class="col-md-3">
            <label>Add Title</label>
        </div>
        <div class="col-md-9">
       
            <input type="text" ng-model="title" class="form-control" placeholder="Enter question" /> 
        </div>
    </div>-->
    
<br>

            <p align="center" ><button class="btn btn-info" ng-click="add(a.name)">Add Question</button></p>
        
    
     
    </div><br>
     
<div class="container">
            


            <ul ng-repeat="l in list">
                <div class="row">
                    
                <li>
                    <div class="col-md-3">
                        {{ l.name }}</div><div class="col-md-3">{{l.title}} 
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger" ng-click="Delete($index)">Delete</button><br>
                    </div></li>
                </div>
                
            </ul>
    
    </div>
     
        </div>

        
    
   
    <br><br>
    <div class="container">
 <div class="row" align="center">
             <div class="col-md-0">
             </div>
             <div class="col-md-12">
                 <button class="btn btn-primary" ng-click="authorTest()">Submit</button>

     </div></div>
 
</div>
 
     </form>
