<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for='title'> Title:</label>
            <input class="form-control" type="text" name='title' ng-model="bzTemplate.title" placeholder='Enter Title' required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" id="" cols="80" rows="2" class="form-control" placeholder="Enter Description" ng-model="bzTemplate.description" required></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-default btn-primary" name='submit' ng-click="saveBZTemplateDetails()">
         Save BZTemplate
    </button>
    </div>
</div>