<a ng-href="#!/movies/create" class="btn-primary btn-lg nodecoration">Add New Movie</a>
<table class="table movietable">
    <tr>
        <td>
            <h3>All Movies</h3>

        </td>
        <td>

        </td>
    </tr>
    <tr ng-repeat="movie in movies">
        <td>{{movie.title}}</td>
        <td>
            <a class="btn btn-primary" ng-href="#!/movies/{{movie._id}}/view">View</a>
            <a class="btn btn-danger" ng-click="deleteMovie(movie)">Delete</a>
        </td>
    </tr>
</table>