<div class="container">
    <h1>Edit / Delete a Question</h1>
    <form class="form-horizontal">
        <div class="alert alert-success" id="qnEditSuccess"><strong>Great!</strong> Question Updated/Deleted Successfully.</div>
        <div class="alert alert-danger" id="qnEditFailed"><strong>Oops!</strong> Question NOT updated/deleted. Try updating/deleting again.</div>
		<div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Question ID:</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="QUESTION ID" ng-model="qId">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button class="btn btn-info" ng-click="showQuestionFn(qId)">SHOW QUESTION</button>
                <button id="deleteQnBtn" class="btn btn-danger hiddenEditDelQnProperties" ng-click="deleteQuestionFn(qId)">DELETE QUESTION </button>
            </div>
        </div>
		<br>
		<br>
		<br>
        <div class="row question-property hiddenEditDelQnProperties">
            <div class="col-md-2">
                <label class="question-property-label">Title:</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Title" ng-model="qn.title">
            </div>
        </div>
        <div class="row question-property hiddenEditDelQnProperties">
            <div class="col-md-2">
                <label class="question-property-label">Description:</label>
            </div>
            <div class="col-md-10">
				<text-angular ng-model="qn.description"></text-angular>
            </div>
        </div>
        <div class="row question-property hiddenEditDelQnProperties">
            <div class="col-md-2">
                <label class="question-property-label">Options:</label>
            </div>
            <div class="col-md-10">
                <div>
                    <div class="input-group">
                        <span class="input-group-addon">Option A</span>
                        <input id="qnOptionA" ng-model="qn['options'][0]['0']" type="text" class="form-control" placeholder="Option A">
                    </div>
                    <div class="input-group">	
                        <span class="input-group-addon">Option B</span>
                        <input id="qnOptionB" ng-model="qn['options'][0]['1']" type="text" class="form-control" placeholder="Option B">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Option C</span>
                        <input id="qnOptionC" ng-model="qn['options'][0]['2']" type="text" class="form-control" placeholder="Option C">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Option D</span>
                        <input id="qnOptionD" ng-model="qn['options'][0]['3']" type="text" class="form-control" placeholder="Option D">
                    </div>
                </div>
            </div>
        </div>
        <div class="row question-property hiddenEditDelQnProperties">
            <div class="col-md-2">
                <label class="question-property-label">Correct Option:</label>
            </div>
            <div class="col-md-10">
                <div class="funkyradio">
                    <div class="funkyradio-success qCorrectOptionRadio">
                        <input type="radio" id="radio8" class="editQnCorrectOptionRadioClass" name="editQnCorrectOptionRadioName	" ng-model="qn.answer" value="a" >
                        <label for="radio8">A</label>
                    </div>
                    <div class="funkyradio-success qDiffLevelRadio">
                        <input type="radio" id="radio9" class="editQnCorrectOptionRadioClass" name="editQnCorrectOptionRadioName" ng-model="qn.answer" value="b" >
                        <label for="radio9">B</label>
                    </div>
                    <div class="funkyradio-success qDiffLevelRadio">
                        <input type="radio" id="radio10" class="editQnCorrectOptionRadioClass" name="editQnCorrectOptionRadioName" ng-model="qn.answer" value="c" >
                        <label for="radio10">C</label>
                    </div>
                    <div class="funkyradio-success qDiffLevelRadio">
                        <input type="radio" id="radio11" class="editQnCorrectOptionRadioClass" name="editQnCorrectOptionRadioName" ng-model="qn.answer" value="d" >
                        <label for="radio11">D</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row question-property hiddenEditDelQnProperties">
            <div class="col-md-2">
                <label class="question-property-label">Explanation:</label>
            </div>
            <div class="col-md-10">
				<text-angular ng-model="qn.explanation"></text-angular>
            </div>
        </div>
        <div class="row question-property hiddenEditDelQnProperties">
            <div class="col-md-2">
                <label class="question-property-label">Level:</label>
            </div>
            <div class="col-md-10">
                <div class="funkyradio">
                    <div class="funkyradio-success qDiffLevelRadio">
                        <input type="radio" id="radio12" class="myRadio" name="qDiffLevel" ng-model="qn.diffLevel" value="easy">
                        <label for="radio12">Easy</label>
                    </div>
                    <div class="funkyradio-warning qDiffLevelRadio">
                        <input type="radio" id="radio13" class="myRadio" name="qDiffLevel" ng-model="qn.diffLevel" value="medium">
                        <label for="radio13">Medium</label>
                    </div>
                    <div class="funkyradio-danger qDiffLevelRadio">
                        <input type="radio" id="radio14" class="myRadio" name="qDiffLevel" ng-model="qn.diffLevel" value="hard">
                        <label for="radio14">Hard</label>
                    </div>
                </div>
            </div>
		</div>
		<div class="row question-property hiddenEditDelQnProperties">
            <div class="col-md-2">
                <label class="question-property-label">Add tags</label>
            </div>
            <div class="col-md-10">
                <div class="input-group">
    				<span class="input-group-addon">Add tags</span>
    				<tags-input ng-model="qn.tags"></tags-input>
				</div>
            </div>
        </div>
        <div class="row hiddenEditDelQnProperties">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button class="btn btn-warning" ng-click="updateQuestionFn()">UPDATE QUESTION</button>
            </div>
        </div>
    </form>
</div>