<h1>SHOWING ALL QUESTIONS</h1>
<div class="alert alert-success" id="qnDelSuccess"><strong>Great!</strong> Question Deleted Successfully.</div>
<div class="alert alert-danger" id="qnDelFailed"><strong>Oops!</strong> Question NOT deleted. Try deleting again.</div>
<div class="row">
    <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">SR </th>
                    <th class="col-md-1">_id </th>
                    <th class="col-md-1">Title </th>
                    <th class="col-md-2">Description </th>
                    <th class="col-md-1">Created At </th>
                    <th class="col-md-1">Updated At </th>
                    <th class="col-md-1">Deleted</th>
                    <th class="col-md-1">Update</th>
                    <th class="col-md-1">Delete</th>        
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="qn in allQuestions | filter:searchFilter ">
                        <td>{{$index + 1}}</td>
                        <td>{{qn._id}}</td>
                        <td>{{qn.title}} </td>
                        <td> {{qn.description}}</td>
                        <td>{{qn.created_at}} </td>
                        <td>{{qn.updated_at}} </td>
                        <td>{{qn.deleted}}</td>
                        <td><a href="#!/questionEditDeletePreFilled/{{qn._id}}">EDIT</a></td>
                        <!--<td><button class="btn btn-warning" ng-click="editQuestionFn(qn._id)">EDIT</button></th-->
                        <td><button class="btn btn-danger" ng-click="deleteQuestionFn(qn._id)">DELETE</button></td> 
                    </tr>
                </tbody>
            
        </table>
    </div>
</div>