<div class="container">
    <h1>Add a Question</h1>
    <form class="form-horizontal">
        <div class="alert alert-success" id="qnAddSuccess"><strong>Great!</strong> Question stored Successfully.</div>
        <div class="alert alert-danger" id="qnAddFailed"><strong>Oops!</strong> Question not stored. Try adding again.</div>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Title:</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Title" ng-model="qn.title">
            </div>
        </div>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Description:</label>
            </div>
            <div class="col-md-10">
				<text-angular ng-model="qn.description"></text-angular>
            </div>
        </div>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Options:</label>
            </div>
            <div class="col-md-10">
                <div>
                    <div class="input-group">
                        <span class="input-group-addon">Option A</span>
                        <input id="qnOptionA" ng-model="optionA" type="text" class="form-control" placeholder="Option A">
                    </div>
                    <div class="input-group">	
                        <span class="input-group-addon">Option B</span>
                        <input id="qnOptionB" ng-model="optionB" type="text" class="form-control" placeholder="Option B">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Option C</span>
                        <input id="qnOptionC" ng-model="optionC" type="text" class="form-control" placeholder="Option C">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Option D</span>
                        <input id="qnOptionD" ng-model="optionD" type="text" class="form-control" placeholder="Option D">
                    </div>
                </div>
            </div>
        </div>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Correct Option:</label>
            </div>
            <div class="col-md-10">
                <div class="funkyradio">
                    <div class="funkyradio-success qCorrectOptionRadio">
                        <input type="radio" id="radio1" class="qCorrectOptionRadioClass" name="qCorrectOptionRadioName" ng-model="qn.answer" value=0 >
                        <label for="radio1">A</label>
                    </div>
                    <div class="funkyradio-success qDiffLevelRadio">
                        <input type="radio" id="radio2" class="qCorrectOptionRadioClass" name="qCorrectOptionRadioName" ng-model="qn.answer" value=1 >
                        <label for="radio2">B</label>
                    </div>
                    <div class="funkyradio-success qDiffLevelRadio">
                        <input type="radio" id="radio3" class="qCorrectOptionRadioClass" name="qCorrectOptionRadioName" ng-model="qn.answer" value=2 >
                        <label for="radio3">C</label>
                    </div>
                    <div class="funkyradio-success qDiffLevelRadio">
                        <input type="radio" id="radio4" class="qCorrectOptionRadioClass" name="qCorrectOptionRadioName" ng-model="qn.answer" value=3 >
                        <label for="radio4">D</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Explanation:</label>
            </div>
            <div class="col-md-10">
				<text-angular ng-model="qn.explanation"></text-angular>
            </div>
        </div>
        <div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Level:</label>
            </div>
            <div class="col-md-10">
                <div class="funkyradio">
                    <div class="funkyradio-success qDiffLevelRadio">
                        <input type="radio" id="radio5" class="myRadio" name="qDiffLevel" ng-model="qn.diffLevel" value="easy">
                        <label for="radio5">Easy</label>
                    </div>
                    <div class="funkyradio-warning qDiffLevelRadio">
                        <input type="radio" id="radio6" class="myRadio" name="qDiffLevel" ng-model="qn.diffLevel" value="medium">
                        <label for="radio6">Medium</label>
                    </div>
                    <div class="funkyradio-danger qDiffLevelRadio">
                        <input type="radio" id="radio7" class="myRadio" name="qDiffLevel" ng-model="qn.diffLevel" value="hard">
                        <label for="radio7">Hard</label>
                    </div>
                </div>
            </div>
		</div>
		<div class="row question-property">
            <div class="col-md-2">
                <label class="question-property-label">Add tags</label>
            </div>
            <div class="col-md-10">
                <div class="input-group">
    				<span class="input-group-addon">Company, topic, etc</span>
    				<tags-input ng-model="qn.tags"></tags-input>
				</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button class="btn btn-default" ng-click="addQuestionFn()">ADD QUESTION</button>
            </div>
        </div>
    </form>
</div>