
            <div class="container">
                <div class="jumbotron" >
                    <h1>Your Score Card</h1>
                    
                    
                    
                </div> 
               <div class="row">
                   <div class="col-md-3">
                       <h3>Attempted</h3>
                   </div>
                       <div class="col-md-3">
                       <h3>correct</h3>
                   </div>
                       <div class="col-md-3">
                       <h3>Incorrect</h3>
                   </div>
                       <div class="col-md-3">
                       <h3>Not Attempted</h3>
                   </div>
                     <div class="row">
                            <div class="col-md-3">
                            {{sc[0].attempted}}
                           </div>
                           <div class="col-md-3">
                            {{sc[0].correct}}
                          </div>
                            <div class="col-md-3">
                            {{sc[0].incorrect}}
                           </div>
                            <div class="col-md-3">
                             {{sc[0].notAttempted}}
                             </div>
                   </div>

                </div>
                <div>
                    <br>
                  <br>
   
         <div class="row">
             <div class="col-md-3">
                  <h3>Your Score :</h3>
            </div>
            <div class="col-md-1">
                  <h3>{{sc.score}}</h3> 
             </div>
         </div> 

         <div>
             <label><h1>Correct Answer and Explanation</h1></label>
         </div>



         <div class="row" >
             <div class="col-md-1" ng-repeat="q in questions" >
                 <button type="button" class="btn btn-default " ng-click="showDetails(q)">{{Shown below}}</button>
             </div>
          </div>
         </div>
         </div>
         <form>
             <br>
             <br>
        <div class="form-group">
          <label for="exp"><h3>Explanation</h3></label>

          <textarea class="form-control" placeholder="Explanation" rows="5" id="exp" ng-model="selectedQuestion.Explanation"></textarea>

        </div>
      </form>
