View Interview Experience
<br>
<br>
<div class="container"
   
	<div class="row"><br>

		<div class="jumbotron" ng-repeat="d in data">
          <h3>Experience</h3>
          Company name:{{d.CompanyName}}
            <br>
            Date : {{d.DateVisited}}
            <br>
            CollegeName:{{d.CollegeName}}
            <br>
            Description:{{d.Description}}
            <br>
           Explanation:{{d.Explanation}}
            <br>
            
          
        </div>
	</div>
	
</div>
 


