<!doctype html>
<html ng-app="pleyapp" ng-controller="pleyctrl">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/pley.css" />
        <link rel="icon" href="img/site.ico" />
    </head>
    <body>
        <input type="text" ng-model="query" placeholder="search here" class="form-control"/>
        <div class="container-fluid">
            <div class="col-md-4"  ng-repeat="i in info | filter: query">
                <div class="jumbotron clour" >
                    <h4>{{i.name}}</h4>
                    <p class="badge badge-success">dur:{{i.duration}} mins</p>
                    <div><p><a href=''>Aptitude</a>
                       <a href=''>technical</a></p></div>

                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="js/pleyapp.js"></script>
    </body>
</html>